.diary-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 40px;
    gap: 40px;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 16px #000000bf;
    border-radius: 10px;
}

.diary-image {
    width: 350px;
    height: 300px;
    border: 10px;
}

.diary-content h5 {
  
    font-size:17px; 
    font-weight:400;  
    letter-spacing:1px; 
    text-transform:uppercase; 
    width:160px; 
    text-align:center; 
    margin:auto; 
    white-space:nowrap; 
    padding-bottom:10px;

}

.diary-content p {
    font-size: 15px;
    
}