.fulldiary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding: 40px;
}

.fulldiary-container h3 {
    font-size: 2.5rem;
}


.fulldiary-container p {
    font-size: 1.2rem;
}